{
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "airbnb/base",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "prettier"
  ],
  "root": true,
  "rules": {
    "func-names": "off",
    "semi": "off",
    "quotes": ["error", "single", { "avoidEscape": true }],
    "no-plusplus": "off",
    "eol-last": "off",
    "max-len": ["error", 150, { "ignoreUrls": true }],
    "no-tabs": "off",
    "no-alert": "off",
    "no-console":"off",
    "prettier/prettier": "error",
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ]
  }
}
